<dl class="info">
  <div><dt>رقم الشكوى</dt><dd>{{ c['id'] }}</dd></div>
  <div><dt>المحلة</dt><dd>{{ c['neighborhood'] }}</dd></div>
  <div><dt>الزقاق</dt><dd>{{ c['alley'] }}</dd></div>
  <div><dt>الدار</dt><dd>{{ c['house'] }}</dd></div>
  <div><dt>نوع العطل</dt><dd>{{ c['fault_type'] }}</dd></div>
  <div><dt>رقم الهاتف</dt><dd dir="ltr">{{ c['phone'] }}</dd></div>
  <div><dt>تاريخ التسجيل</dt><dd>{{ c['created_at'] }}</dd></div>
  <div><dt>سجلها</dt><dd>{{ c['created_by_name'] }}</dd></div>
</dl>
